/* merriweather and inter google font style link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* custom style */
:root {
  --ff-merriweather: "Merriweather", serif;
  --ff-inter: "Inter", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.bg-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-primary {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.2rem 2.3rem;
  font-weight: 700;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: translate(2px, -3px);
}

/* banner container style strat */

.banner-container {
  /* max-width: 1320px; */ /*Figma requarment*/
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 200px 0px; /* it is a good way to center banner content*/
  /* min-height: 600px; */ /*it is not a good approse */
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../assets/images/Banner\ Image.png);
  border: 1px solid #f0f;
}

.banner-content {
  color: #fff;
  text-align: center;
}

.banner-content p {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.banner-content h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
}
/* banner container style end */

/*Prouducts 65% discoount style start */
#discount-container {
  max-width: 802.9px;
  margin: 120px auto;
}

#discount-container > * + * {
  margin-top: 48px;
}

.discount-persent {
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  color: #f00;
  text-align: center;
}

.discount-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}
.discount-content h2 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
}

.discount-image {
  height: 500px;
  left: 399px;
}

/*Prouducts 65% discoount style end */

/* midnight-party-container style start */
#party-container {
  max-width: 1220px;
  margin: 120px auto;
  border-radius: 16px;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../assets/images/Vectorrr.png);
}

.midnight-party {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1.2rem;
}

.midnight-party-content {
  width: 60%;
  padding-right: 1.4rem;
}

.midnight-party-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin-bottom: 24px;
}
.midnight-party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.midnight-party-content .btn-primary {
  margin-top: 48px;
}

.midnight-party-img {
  width: 349.16px;
  height: 464.65px;
}

/* midnight-party-container style end */

/* place time date container style start */

#place-container {
  max-width: 1220px;
  margin: 120px auto;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}

.place-content {
  padding: 100px 0;
  text-align: center;
}

.place-content h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
}

.place-content span {
  color: red;
}

.place-content .btn-primary {
  background-color: red;
  margin-top: 48px;
  color: #fff;
}

.place-content .btn-primary:hover {
  background-color: transparent;
  border: 1px solid red;
  color: #000;
}

/* place time date container style end */

/* comming soon offer container style start */
#comming-offer-container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#comming-offer-container > * {
  flex-basis: 400px;
  flex-grow: 1;
}

.comming-offer-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: var(--ff-inter);
  color: red;
  text-align: left;
}
.comming-offer-content h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  font-family: var(--ff-merriweather);
  color: #000;
  text-transform: capitalize;
}

.comming-offer-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--ff-inter);
  color: rgba(7, 2, 17, 0.6);
  text-align: left;
}

.comming-offer-image img {
  width: 100%;
  height: 100%;
  border: 10px solid red;
  border-radius: 999px;
  padding: 2rem;
}

.comming-offer-year h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  font-family: var(--ff-inter);
  text-align: left;
  color: #f00;
}

.comming-offer-year p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20;
  font-family: var(--ff-inter);
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.comming-offer-year {
  padding-left: 118px;
}
.comming-offer-year .comming-offer-year-image {
  width: 140px;
  height: 140px;
  margin-top: 40px;
}

/* comming soon offer container style end */

/* Holiday sale container style strat */
#holiday-sale-conatiner {
  max-width: 1220px;
  margin: 120px auto;
}

.holiday-sale-writh-part {
  text-align: center;
  margin: 0 126px;
}

.holiday-sale-writh-part h3 {
  font-size: 24px;
  font-family: var(--ff-inter);
  font-weight: 500;
  line-height: 29px;
  color: #000;
  margin-bottom: 16px;
}
.holiday-sale-writh-part h1 {
  font-family: var(--ff-merriweather);
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
  & span {
    color: red;
  }
}

.holiday-sale-writh-part p {
  color: rgba(7, 2, 17, 0.6);
  font-family: var(--ff-inter);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.holiday-sale-image-part {
  display: flex;
  align-items: center;
  background-image: url(../assets/images/Rectangle\ 2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 64px;
}

.holiday-sale-image:first-child {
  width: 50%;
  flex-grow: 1;
}
/* Holiday sale container style end */

/* Portfolio container style strad */
#portfolio {
  max-width: 1220px;
  margin: 0 auto;
}

.protfolio-writing h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.protfolio-writing h2 {
  color: rgb(7, 2, 17);
  font-family: var(--ff-merriweather);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.protfolio-writing p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.portfolio-galaray {
  padding: 2px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
}

.portfolio-galary-item {
  border-radius: 12px;
  box-shadow: 0 0 12px 0 #0002;
}
/* Portfolio container style end */

/* Newsletter container style start */
#newsletter {
  max-width: 1220px;
  margin: 120px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}

.newsletter-content {
  max-width: 896px;
  margin: 0 auto;
}

.newsletter-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.newsletter-content h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin: 40px 0;
}

.newsletter-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}

.newsletter-inputform {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 48px;
}

.newsletter-inputform input[type="text"] {
  padding: 1rem 0.3rem;
  border: none;
  outline: none;
  background-color: #fff;
  width: 400px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.newsletter-inputform input[type="button"] {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  margin: -105px;
  background-color: #ff0000;
  border-radius: 0 50px 50px 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

/* Newsletter container style end */

/* footer container style start */
footer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  background: rgb(7, 2, 17);
}

.footer-content {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social-link i {
  font-size: 2.4rem;
  color: #ffffff;
}

.address-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.contact-numberemail {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.contact-addrass p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

footer .social-link * + * {
  margin-left: 1rem;
}
/* footer container style end */
